.average-transaction {
    background: #407bff;
    width: 100%;
    padding: 15px 25px;
    color: #fff;
}

.average-transaction h4 {
    margin:0px 0px -3px 0px;
}

.average-transaction label {
    font-size: 12px;

}

.average-transaction .categories {
    display: flex;
    /* gap:10px; */
    justify-content: space-between;
}

.average-transaction .content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.average-transaction .content p {
    font-size: 10px;

}
.average-transaction .content h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;

}
