
.setup{
    width: 82%;
    padding: 90px 0px;
    background-color: white;

}
.setup-h4{
    color: #141736;
font-size: 20px;
}
.setup-texts{
    font-size: 14px;
    color: #61758F;
    font-weight: 600;
    margin-top: 10;
    margin-bottom: 0;

}