.text-slide {
  height: 100vh;
  background-color: #a4a88c;
  display: flex;
  align-items: center;
  justify-content: center;

}
.text-slide h1 {
  font-size: 250px;
  color: #fce9b3;
  white-space: nowrap;
}


.d-flex {
  display: flex;
  transform: translateX(calc(100vw));
  overflow: visible;
  animation: animateContainer 17s linear forwards infinite;
  animation-play-state: paused;
}
@keyframes animateContainer {
  from {
    transform: translateX(calc(80vw));
  }
  to {
    transform: translateX(calc(-100%));
  }
}


@media only screen and (max-width: 768px) {
  .text-slide {
    height: 50vh;
  }
  .text-slide h1 {
    font-size: 150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
   
    .text-slide {
        height: 30vh;
      }
      .text-slide h1 {
        font-size: 180px;
      }
  }