.loanDiv {
    width: 230px;
    background: #fff;
    padding: 10px;
    z-index: 1;
    position: absolute;
    right: 0px;
    box-shadow: 3px 3px 8px rgba(206, 202, 202, 0.4);
    top: 45px;
}

.loanDiv h5 {
    margin: 0px 0px 7px 0px;
    font-weight: 500;
}

.start-date,
.end-date {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.start-date label,
.end-date label {
    font-size: 11px;

}

.end-date {
    margin-top: 10px;
}

.done-btn {
    padding: 7px 15px;
    outline: none;
    color: #fff;
    background: #2F74DD;
    border: none;
    margin-top: 10px;
}