.searchDiv {
    width: 228px;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    box-shadow: 3px 3px 8px rgba(206, 202, 202, 0.4);
    top: 45px;
    left: 0px;
    z-index: 1;

}

.searchDiv h5 {
    font-weight: 500;
    margin: 0;
}

.searchDiv .input-group {
    margin-top: 0;
}

.search-field {
    padding: 10px;
    border: 1px solid #407bffff;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    outline: none;
}


.select-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.select-btn-groups {
    display: flex;
    gap:40px;
    align-items: center;
    margin-top:10px;
}


.btn-groups {
    display: flex;
    gap: 5px;
    align-items: center;
}

.round-btn {
    border: 2px solid #407bffff;
    padding: 7px;
    border-radius: 50%;
}

.round-btns {
    border: 4px solid #407bffff;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.search-btn {
    background: #407bffff;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 2px;
    margin-top:30px;
    cursor: pointer;
font-weight: 500;

}
.inactive-btn {
    background: #d4d9ffff;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    color: #9bbaffff;
    border-radius: 2px;
    margin-top:30px;
font-weight: 500;

}
.btn-groups{
font-weight: 600;
}
