.overview-container {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.overview-h3 {
    margin: 40px 0px 20px 0px;
    font-weight: 500;
}

.overview-content {
    border-right: 1px solid #407bff;
    height: 100%;
    padding: 20px 30px;

}
.overview-container img{
    width: 20px;
}
.overview-content:last-of-type {
    border: none;

}
.overview-content h2{
    font-weight: 700;
    font-size: 25px;
    margin: 6px 0;
    
}
.overview-content p{
font-size: 13px;
    margin: 0;
    
}
