.sidebar {
    height: 100vh;
    width: 15%;
    padding: 20px 0px;
    background: #fff;
    position: fixed;
    top: 70px;
    box-shadow: 2px 2px 4px rgba(206, 202, 202, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clustered-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.clustered-icons img, .logout img{
    cursor: pointer;
}
.nav-link{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap:15px;

}
.nav-link .action-bg{
    background-color: #fa777c;
    border-radius: 50%;
    padding: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
a{
    text-decoration: none;
    font-weight: 500;
}
.nav-link p{
    font-size: 12px;
    color: #61758F;
    margin: 0;
}
.second-navs{
 margin: 30px 0px 0px -18px;  
 gap: 12px;
 display: flex;
 flex-direction: column;

}
.third-navs{
    margin: 30px 0px 0px -36px;  
    gap: 12px;
    display: flex;
    flex-direction: column;
   
   }