.footer {
  background-color: #a4a88c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 70px 100px;
  font-weight: bold;
}
.footer p {
  letter-spacing: 3px;
  font-size: 12px;
}
.bright {
  color: #000;
}
.faded {
  color: #000;
  opacity: 0.3;
}



@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: start;
    padding: 0px 100px 10px 30px;
    margin-top: -5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .footer {
    padding: 0px 30px 300px 30px;
    flex-direction: column;
    align-items: start;
    margin-top: -5px;
  }
}
