.average-age {
    background: #2a38a4ff;
    width: 100%;
    padding: 15px 25px;
    color: #fff;
}

.average-age h4 {
    margin:0px 0px -3px 0px;
}

.average-age label {
    font-size: 12px;

}

.average-age .categories {
    display: flex;
    justify-content: space-between;
}

.average-age .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
}

.average-age .content p {
    font-size: 10px;

}
.average-age .content h2 {
    font-weight: 600;
    font-size: 28px;
margin: 0;
}
