* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GT Pressura Mono Light';
  src: url('/public/gt-pressura-mono-light.woff') format('woff');
}
@font-face {
  font-family: 'Rosindale';
  src:  url('/public/Roslindale_Text_Regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Rosindale Light';
  src:  url('/public/Roslindale_Condensed_Light.woff') format('woff'); 
}
@font-face {
  font-family: 'Gerova';
  src:  url('/public/Gerova.woff') format('woff'); 
}

body,
#root {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

.antidote {
  font-family: "Gerova", sans-serif;
  font-weight: 100;
}

.start {
  font-family: "Rosindale", sans-serif !important;
}

.animate-highlight {
  font-family: "Rosindale Light", sans-serif !important;
}

.pressura {
  font-family: "GT Pressura Mono Light", sans-serif;
}
.animated-text{
  font-family: "Rosindale Light", sans-serif !important;

}
.rotate-90 {
  transform: rotate(-90deg) !important;
  width: 340px !important;
  margin-bottom: 60px;
}