

.filter-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.left-col{
    background: #fff;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 300px;
    font-size: 14px;
    position:relative;

}
.right-col{
    border: 1px solid #2F74DD;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 230px;
    font-size: 14px;
    position:relative;
}

